@import 'category'; 
*{
    margin: 0;
    padding: 0;
}
main{
    min-height: 70vh;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.like{
    cursor: pointer;
    object{
        height: 30px;
        width: 30px;
        transition: all .25s ease-in-out;
        border-radius: 50%;
        background: red;

        &.active{
            color: red;
        }
        &:hover{
            transform: scale(1.2);
        }
    }
   
}