<h2>カテゴリー</h2>
<ul class="category">
    <li>
        <a href="#">生活</a>
    </li>
    <li>
        <a href="#">日本語</a>
    </li>
    <li>
        <a href="#">プログラム</a>
    </li>
    <li>
        <a href="#">恋愛</a>
    </li>
</ul>