<h2>Danh mục</h2>
<ul class="category">
    <li>
        <a href="#">Đời sống</a>
    </li>
    <li>
        <a href="#">Tiếng nhật</a>
    </li>
    <li>
        <a href="#">Lập trình</a>
    </li>
    <li>
        <a href="#">Tình yêu</a>
    </li>
</ul>