<footer class="blog-footer">
    <p>Design and created by Namcool</p>
</footer>
<style>
.blog-footer {
    margin: 20px 0;
    height: 200px;
    background: #555;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*# sourceMappingURL=footer.css.map */

</style>